//Colors
//Primary
$violet:hsl(257, 40%, 49%);
$softMagenta: hsl(300, 69%, 71%);
$white: #fff;

//Media Queries
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

//Typography
$primaryFont: 'Open Sans', sans-serif ;
$secondaryFont: 'Poppins', sans-serif;

